.tag-1 {
    font-size: 120%;
}

.tag-2 {
    font-size: 100%;
}

.tag-3 {
    font-size: 80%;
}

.tag-4 {
    font-size: 60%;
}

.home-top {
    padding-bottom: 2rem;
}

.disabled {
    pointer-events: none;
    background-color: lightgray;
    color: darkgray;
    cursor: default;
}

.active {
    background-color: #0275d8;
    color: white;
}

.navactive {
    font-weight: bold;
}
