.tag-1 {
    font-size: 110%;
}

.tag-2 {
    font-size: 100%;
}

.tag-3 {
    font-size: 90%;
}

.tag-4 {
    font-size: 80%;
}

.customfooter {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #373a3c;
    color: white;
}

.customfooter a:link {
    color: #55b0f3;
}

.customfooter a:visited {
    color: #55b0f3;
}

.customfooter a:hover {
    color: #55b0f3;
}

.customfooter a:active {
    color: #55b0f3;
}

.disabled {
    pointer-events: none;
    background-color: lightgray;
    color: darkgray;
    cursor: default;
}

.pagelinkactive {
    background-color: #0275d8;
    color: white;
}

.active {
    color: white;
}

.breadcrumbactive {
    font-weight: bold;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumbnail {
    display: inline-block; 
}

.orangelink {
    color: #d86502;
}

pre {
    background-color: #f1f1f1;
}

.navcolor {
    color: #55b0f3;
}
